@use "../../scss/globals.scss";

.settings-account {
  &__form {
    display: flex;
    flex-direction: column;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__actions {
    display: flex;
    gap: globals.$spacing-unit;
    margin-top: globals.$spacing-unit;
  }

  &__subscription-info {
    display: flex;
    flex-direction: column;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__subscription-button {
    place-self: flex-start;
  }
}
